<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Home</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
            
                <ul class="nav navbar-nav">
                    <li  class="nav-item active">
                       <a class="navbar-link" href="{% url 'RegistrationApp:index' %}"> Django </a> &nbsp;&nbsp;
                    </li>
                    <li  class="nav-item">
                        <a class="navbar-link" href="{% url 'admin:index' %}"> Admin </a> &nbsp;&nbsp;
                    </li>
                    <li  class="nav-item">
                        <a class="navbar-link" href="{% url 'RegistrationApp:register' %}"> Register </a> &nbsp;&nbsp;
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="navbar-link" href="{% url 'logout' %}">Logout</a> &nbsp;&nbsp;
                    </li>
                    {% else %}
                    <li>
                        <a class="navbar-link" href="{% url 'RegistrationApp:login' %}">Login</a> &nbsp;&nbsp;
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        
        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>
    </body>
</html>
